importFrom(Iso, pava)
importFrom(ff, ff)
import(xtable, affy)
importFrom(Biobase,exprs)
import(tcltk)
export(Isoallfdr, IsoBHPlot, Isofudge, IsoGene1, IsoGenem, IsoGenemSAM,
 IsomaxT, IsoPlot, IsopvaluePlot, Isoqqstat, Isoqval, IsoRawp, IsoSAMPlot, IsoTestBH, IsoTestSAM)
